
{% load static %}

<html lang="en">
<head>

    <link rel="stylesheet" href="{% static 'css/cinema/index.css'%}" type="text/css">
    <script src="{% static 'js/cinema/script.js' %}"></script>

    <meta charset="UTF-8">
    <title>{{ cat.name }} - {{ video.title }}</title>
</head>
<body>
<div class="container">


    <br>

<div class="card mb-3 shadow">
  <div class="card-body">






<h2>{{ video.title }}</h2>
    <strong><p> <img src="https://skrinshoter.ru/s/120924/MIovT5SC.jpg?download=1&name=%D0%A1%D0%BA%D1%80%D0%B8%D0%BD%D1%88%D0%BE%D1%82-12-09-2024%2018:39:41.jpg" height="20px"> {{kinopoisk}} <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/IMDB_Logo_2016.svg/1280px-IMDB_Logo_2016.svg.png" height="20px"> {{ imdb }}</p></strong>

          <video
              class="my-video"
              controls
              preload="auto"
              width="1260"
              height="710"
              data-setup="{}"
          >
            <source src="{{ video.file.url }}" type="video/mp4"/>
          </video>

<br>
    <br>

{% for el in video_list %}
    <a type="button" href="/movie/{{ el.cat.slug }}/{{ el.slug }}" class="btn btn-dark">{{ el.title }}</a>
{% endfor %}

    <br>
    <br>
<form method="post">
{% csrf_token %}
<h5>Оставить рецензию:</h5>
    <br>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Никнейм</label>
    <div class="col-sm-10">
      {{ form.name }}
    </div>
  </div>
    <br>
  <div class="form-group row">
    <label  class="col-sm-2 col-form-label">Комментарий</label>
    <div class="col-sm-10">
      {{ form.description }}
    </div>
  </div>
    <br>
      <div class="form-group row">
    <label  class="col-sm-2 col-form-label">Статус рецензии</label>
    <div class="col-sm-10">
<!--      <select class="form-select" aria-label="Default select example">-->
<!--        <option selected>Нейтральная</option>-->
<!--        <option value="1">Положительная</option>-->
<!--        <option value="2">Отрицательная</option>-->
<!--      </select>-->

        {{ form.type_r }}
    </div>
  </div>
    <center>
        <br>
  <button type="submit" class="btn btn-secondary mb-2">Отправить</button>
    </center>
</form>

      <br>
      <center>
      <div>
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-emoji-smile danger" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
  <path d="M4.285 9.567a.5.5 0 0 1 .683.183A3.5 3.5 0 0 0 8 11.5a3.5 3.5 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5m4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5"/>
</svg> <label> {{ comment_success | length }}</label>

<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-emoji-frown" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
  <path d="M4.285 12.433a.5.5 0 0 0 .683-.183A3.5 3.5 0 0 1 8 10.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.5 4.5 0 0 0 8 9.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5m4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5"/>
</svg><label> {{ comment_danger | length }}</label>

<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-emoji-neutral" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
  <path d="M4 10.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5m3-4C7 5.672 6.552 5 6 5s-1 .672-1 1.5S5.448 8 6 8s1-.672 1-1.5m4 0c0-.828-.448-1.5-1-1.5s-1 .672-1 1.5S9.448 8 10 8s1-.672 1-1.5"/>
</svg><label> {{ comment_neutral | length }}</label>

          </div>
          </center>
      <br>
      <br>
<h5>Последние рецензии:</h5>
      <br>

{% for el in comment_list %}
<div class="card">
  <div class="card-header">
    {{ el.name }}
  </div>
    {% if el.type_r == 'Нейтральная' %}
  <div class="card-body">
    {% endif %}

    {% if el.type_r == 'Положительная' %}
  <div class="card-body bg-success text-white">
    {% endif %}
    {% if el.type_r == 'Отрицательная' %}
  <div class="card-body bg-danger text-white">
    {% endif %}
    <p class="card-text">{{ el.description }}</p>

  </div>
</div>
      <br>
{% endfor %}
<br>




</div>
</div>
    <br>
    <br>
</div>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</body>
</html>